#imageContainer {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  #outputImage {
    max-width: 80%;
    display: none; /* Hide until an image is selected */
  }
  
  .frameOption {
    margin: 5px;
    border: none;
    background-color: transparent;
  }
  
  .frameOption img {
    width: 50px; /* Set as needed */
    cursor: pointer;
  }
  
  #frameSelectors {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
